.skill-card-container{
    display: inline-grid;
    justify-items: center;
    grid-auto-flow: row;
    width: 100%;
}

.skill-img img{ 
    height: 4em;
    width: 4em;
    padding: 0.2em;
    margin: 0.2em;
}

.skill-img img:hover{
    border: 2px solid #BDB76B;
    border-radius: 13px;
    cursor: pointer;
}

.skills-bar{
    width: 4em;
    background-color: #BDB76B;
    height: 0.5em;
}

.skill{
    height: 0.5em;
    background-color: #204040;    
}

.skill-list{
    display: inline-grid;
    grid-auto-flow: column;
    justify-items: space-between;
}

.skills-container{
    display: inline-grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin-top: 2em;
}

.skills-container .inline{
    display: inline-grid;
    justify-items: center;
    margin: 1em;
    border: 2px solid black;
    border-radius: 13px;
}

.skill-list li{
    padding: 2em;
    padding-left: 2em;
    padding-right: 2em;
}

.skills-container h1{
    margin-top: 0.5em;
}

.skills-name p{
    color: black;
}

.skills-name{
    margin: 0.2em;
}

@media only screen and (min-width: 200px) and (max-width: 1400px){

    .skill-img img{ 
        height: 2em;
        width: 2em;
        padding: 0.2em;
        margin: 0.2em;
    }

    .skill-list li{
        padding: 0.5em;
    }

    .skills-container{
        grid-auto-flow: row;
        grid-template-columns: 1fr;
        width: 100%;
        max-width: calc(100% - 6em);
        margin-top: 2em;
        min-width: 200px;
    }
  }