header{
    width: 100%;
    display: inline-grid;
    justify-items: center;
}

header img{
    width: calc(100% - 1em);
    height: calc(80%);
    position: absolute;
    z-index: -1;
    border-radius: 13px;
    left: 0.5em;
    margin-bottom: 2em;
}

.header-content{
    display: inline-grid;
    grid-auto-flow: row;
    align-items: center;
    justify-content: space-between;
    justify-items: center;
    grid-template-rows: 10fr 1fr;
}

.header-item{
    padding: 0.5em;
}

header button{
    width: 10em;
    visibility: hidden;
}

