.nav-img{
  width: 2.5em;
  border-radius: 13px;
}

.nav-icon{
  /* visibility: hidden;  */
  width: 2em;
}

nav{
  border-radius: 13px;
  border: 1px solid black;
  width: 100%;
  max-width: calc(100% - 1em);
  height: 5em;

}

.nav-left{
  display: inline-flex;
}

.nav-right{
  display: inline-flex;
  justify-content: flex-end;
}

.nav-bar{
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.nav-title{
  display: block;
  align-self: center;
  padding: 0.25em;
  margin: 0.25em;
}

.nav-bar li a{
  list-style: none;
  text-decoration: none;
  padding: 0.5em;
}

.nav-bar li a:hover{
  border-radius: 13px;
  border: 1px solid black;
}

.nav-item p strong{
  color: black;
  align-content: center;
}




@media only screen and (min-width: 400px) and (max-width: 800px){


  .nav-icon{
    width: 2em;
    height: auto;
    z-index: 2;
    top: 0;
  }

  .nav-bar{
    position: absolute; 
    flex-direction: column;
    width: 100%;
    max-width: calc(100% - 1em);
    height: auto;
    top: 0.25em;
    left: 0.5em;
    border: 1px solid black;
    border-radius:  13px;
    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(0.9em);
  }
  
  .nav-right{
    display: inline-flex;
    justify-content: flex-end;
  }
}
