
footer{
    display: grid;
    background-color: rgb(224, 224, 224);
    border-radius: 0.5em;
    border: 0.01em solid black ;
    width: calc(100% - 1em);
    margin: 0.25em !important;
    height: auto;
    /* position: sticky;
    z-index: -1;
    left: 0.25em;
    bottom: 0; */
    
}

footer:hover{
    box-shadow:  0.28em 0.25em 0.5em rgba(0, 0, 0, 1);
    transition: all 0.2s ease-in-out;
}

.text-item{
    width: 7em !important;
}

.text{
    width: 16em !important;
}

footer img{
    width: 2em;
    height: 2em;
}

footer img:hover{
    cursor: pointer;
    background-color: rgb(224, 224, 224);
    box-shadow:  0.28em 0.25em 0.5em rgba(0, 0, 0, 1);
    border-radius: 0.5em;
    border: 0.1em solid black;
    transition: all 0.2s ease-in-out;
}

footer ul li{
    list-style: none;
}

.ver{
    border-radius: 0.005em;
    border: 0.25px solid black;
    width:  0.1em;
    height: 1.2em;
}
