
.about-container{
    border: 2px solid black;
    border-radius:  13px;
    width: calc(100% - 1em);
    margin-left: 0.5em;
    display: inline-grid;
    justify-items: center;
}
h1{
    font-size: 2em;
    font-weight: 900;
}
.about .list-container{
    display: inline-grid;
    justify-items: center;
    margin: 0.5em;
}

.about{
    overflow-y: auto;
}


.exp-container{
    display: inline-grid;
    justify-items: center;
}

.exp-item{
    padding: 0.5em;
}

.about-content, .experience, .education{
    display: inline-grid;
    grid-auto-flow: row;
    justify-items: center;
    width: 100%;
}

.list-item h1{
    font-size: 1.5em;
    margin: 0.2em;
}

.list-item{
    padding-top: 0.5em;
    margin: 0.2em;
}

 li{
    list-style: none;
    text-decoration: none;
    padding: 0.5em;
}
      


.list-item p{
    color: black;
    font-size: 0.98em;
}

@media only screen and (min-width: 200px) and (max-width: 800px){


    .about-content{
        display: inline-grid;
        grid-auto-flow: row;
        justify-items: center;
        align-items: center;
        width: 100%;
    }

    .about-container{
        max-width: calc(100% - 1em);
    }



  }