@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&family=Varela+Round&display=swap');
*{
  padding: 0em;
  margin: 0em;
  font-family: 'Varela Round', sans-serif;;
  font-size: 20px;
  letter-spacing: 0.05em;
  box-sizing: border-box;
  
}

::-webkit-scrollbar{
  width: 0.25em;
}

::-webkit-scrollbar-track {
  background: #888; 
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.647); 
}

::-webkit-scrollbar-thumb:hover {
  background: #888; 
}
::-webkit-scrollbar-track:hover{
  background: yellow; 
}


body{
  background-color: rgb(224, 224, 224);
}


.inline{
  display: inline-grid;
}



@media only screen and (min-width: 200px) and (max-width: 800px){
  
}